# My global configuration file
tri_config.json
shadowsocks*.json

# oh-my-zsh host config
oh-my-zsh/host-conf/*.sh

# nvim tmp files
nvim/tmp_files
nvim/plugins

# tmux
tmux/plugins

# mutt
neomutt/*.info
neomutt/cache

# Other tmp files
*.swp
*~
*.pyc
.DS_Store

# Files and dirs to be ommited
conf
private
scripts
