# oh-my-zsh host config
apps/omz/host-conf/*.sh

# nvim tmp files
apps/nvim/runtime/*
!apps/nvim/runtime/*.md

# tmux
apps/tmux/plugins

# mutt
apps/neomutt/*.info
apps/neomutt/cache

# Files and dirs to be ommited
conf/
conf_pub/
conf_host/
conf_cloud_cn/
conf_cloud_global/
private
scripts

# Alaritty
apps/alacritty/plugins/*
!apps/alacritty/plugins/README.md

# Other tmp files
*.swp
*~
*.pyc
.DS_Store

